/node_modules
/public/hot
/public/storage
/public/css
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/guatemalitadock/.idea
/guatemalitadock/logs
/guatemalitadock/data
/guatemalitadock/.env
/guatemalitadock/.project
/guatemalitadock/.docker-sync
