.top-menu {
  // @include flex-row-space-between;
  background-color: $guate;
  font-size: 12px;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
  .top-menu-left,
  .top-menu-right {}
  .top-menu-left {
    @include flex-row;
  }
  .top-menu-right {
    @include flex-row-end;
  }
  .top-menu-item,
  .top-menu-dropdown {
    a {
      display: block;
    }
  }
  .top-menu-item {
    border-right: 1px solid lighten($guate, 7%);
    margin-bottom: -1px;
    position: relative;
    &.active {
      background-color: white;
      > div {
        a {
          @include bold;
          color: $blue;
        }
      }
    }
    > div {
      a {
        text-align: center;
        padding: 2px 7px;
        display: block;
        &:hover {
          background-color: darken($guate, 7%);
        }
      }
    }
    &:last-child {
      border-right: none;
    }
    &:hover {
      .top-menu-dropdown {
        display: block;
      }
    }
  }
  .top-menu-dropdown {
    @include list-unstyled;
    @include position(absolute, 100% null null 0);
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background-color: $gray-200;
    display: none;
    width: 210px;
    z-index: 10;
    li {
      a {
        color: $link-color;
        padding: 2px 7px;
        display: block;
        &:hover {
          background-color: $gray-100;
        }
      }
      &:last-child {
        a {
          &:hover {
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
          }
        }
      }
    }
  }
}

@media #{$sm-down} {
  .top-menu {
    .top-menu-left {
      @include flex-row-center;
    }
  }
}
